@font-face {
    font-family: Stanberry;
    src: url(Stanberry.tff);
  }

body {
    margin: 0;
    /* In case custom font not supported, fall back to Arial */
    font-family: Arial, Helvetica, sans-serif; 
    font-family: Stanberry;
    font-family: 'Pangolin', cursive;

    /* notch */
    padding-top: 44px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.overlay {
    /* background-color: #9BAB80; */
    /* background-color: #F0E7D6; */
    background-color: black;
    position: fixed;
    z-index: 20;

    padding:0px;
    margin:0px;
    width: 100%;
    height: 100%;
    display: none;
}

.splitContainter {
    /* To display menu and portfolio in row as parent container */
    display: flex;
    flex-direction: row;

    /* Expand container to whole page */
    width: 100%;
    height: 100%;
    /* To make height take up whole screen */
    position: fixed;
    z-index: 1;
}

/* Left side of screen */
.menu {
    /* Property as child of flex containter */
    flex-grow: 1;
    background-color: #9BAB80;

    /* Align menu items to the left, and vertically justify to center */
    align-items: flex-end; 
    justify-content: center;

    /* Other formatting */
    padding-right: 4%;
    padding-left: 5%;

    color: #F0E7D6;

    /* Prpoperty as parent flex of name and button container*/
    display: flex;
    flex-direction: column;

    z-index: 2;
}

.name {
    margin-bottom: 5px;
    font-size: 42px;
}

.hDivider {
    width:300px;
    /* height:3px; */
    border: 3px solid #F0E7D6;
    border-radius:3px;
    margin-right: 0px;
    /* border-width: 0px !important; */
    /* color:#F0E7D6;
    background-color: #F0E7D6; */
}

.hDividerBrown {
    width:300px;
    border: 3px solid #606338;
    border-radius:3px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: #9BAB80;
    min-height: 80px;
}

.menuButtons {
    /* Prpoperty as parent flex of buttons */
    display: flex;
    /* width: 70%; */
    flex-direction: column;

    gap: 10px;
    margin-top: 20px;

    z-index: 3;
}

button {
    text-align: right;
    padding: 10px 30px 10px 50px;
    font-size: 20px;

    border-radius: 20px;
    background-color:#F0E7D6;
    /* Fallback font if custom one fails */
    font-family: Arial, Helvetica, sans-serif;
    font-family: Stanberry;
    font-family: 'Pangolin', cursive;
    color:#2d3520;
    border-width:0px;
    border-bottom-width: 4px;
    border-bottom-color: #d7dbc9;
}

.menuButton:hover {
    background-color: #e4d4bc;
    /* margin + border should sum to total of border w/o mouse focus so not affect position */
    border-bottom-width: 2px;
    margin-top: 2px;
}

.menuButton:active {
    background-color: #e7cc9a;
    border-bottom-width: 0px;
    margin-top:4px;
}

.rowContainer {
    display: flex;
    padding: 40px 10px 20px;
    /* width: 200px; */
    /* justify-content: space-between; */
    gap: 10px;
    flex-direction: row;
}

/* Right side of screen */
.portfolio {
    flex-grow: 4;

    padding: 50px;

    /* display: flex; */
    background-color: #F0E7D6;
    /* color: #9BAB80; */
    color:#2d3520;

    overflow-y:scroll;
}

.imgContainer {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.imgCol {
    display: flex;
    flex-direction: column;
}

.imgThumb {
    max-width: 100%;
    cursor: pointer;
}

/* :nth-child(even) {
    background-color: #97b1ff;
} */

.center {
    display: block;
    margin: auto;
}

h3 {
    padding: 15px 0px 10px;
}

img {
    margin: 20px;
}

video {
    margin: 20px;
    /* max-width: 100%; */
}

p {
    font-size: 18px;
    color:#1e2413;
}

.rowTweets {
    display:flex;flex-direction: row;width:100%;gap:40px;
}

#animContainer {
    max-width: 70%;
}

.arrow {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.arrow:hover {
    transform: scale(1.5);
}

/* https://avexdesigns.com/blog/responsive-youtube-embed */
.video-container { 
    margin: 20px;
    box-sizing: border-box;
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media only screen and (max-width: 1240px) {
    .name {
        font-size: 32px;
    }
    .hDivider {
        width: 200px;
    }
    .rowTweets {
        flex-direction: column;
    }
    #animContainer {
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .splitContainter {
        flex-direction: column;
    }
    .menuButtons {
        flex-direction: row;
        width: 100%;
        margin: 5px;
        margin-bottom: 20px;
    }
    .imgContainer, #gameContainer {
        flex-direction: column;
    }
    button {
        font-size: 18px;
        padding: 5px;
        text-align: center;
    }
    .menuButton {
        flex-grow: 1;
    }
    .hDivider {
        margin-right: auto;
    }
    .name {
        font-size: 24px;
        margin-bottom: 0px;
        align-self: center;
    }
    #socialButtons {
        display: none;
    }
    .portfolio {
        padding: 20px;
    }
}

